:root {
    --light: #FFF;
    --dark: #212121;
    --primary: #002171;
    --secondary: #5472d3;
    --grey: #aeaeae;

    --main-font: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: var(--main-font);
}

/* Header */
.title {
    text-align: center;
    font-size: 3.8rem;
}

.title span {
    font-size: 2rem;
}